<div class="container">

  <!-- HEADER -->
  <div class="page-header">
    <h2>Parking Spots</h2>
  </div>

  <!-- FILTERS -->
  <div class="filter-bar">
    <button
      class="filter-btn"
      [class.active]="statusFilter === 'ALL'"
      (click)="statusFilter='ALL'; applyFilters()"
    >
      All
    </button>

    <button
      class="filter-btn badge--green"
      [class.active]="statusFilter === SpotStatus.Free"
      (click)="statusFilter=SpotStatus.Free; applyFilters()"
    >
      Free
    </button>

    <button
      class="filter-btn badge--red"
      [class.active]="statusFilter === SpotStatus.Occupied"
      (click)="statusFilter=SpotStatus.Occupied; applyFilters()"
    >
      Occupied
    </button>

    <button
      class="filter-btn badge--orange"
      [class.active]="statusFilter === SpotStatus.Unavailable"
      (click)="statusFilter=SpotStatus.Unavailable; applyFilters()"
    >
      Unavailable
    </button>
  </div>

  <!-- LOADING -->
  <p *ngIf="loading">Loading spots...</p>

  <!-- ERROR -->
  <p class="error" *ngIf="error">{{ error }}</p>

  <!-- GRID -->
  <div class="card-grid" *ngIf="!loading && !error">
    <div
      class="card clickable"
      *ngFor="let spot of filteredSpots"
      [ngClass]="{
        'card--free': spot.status === SpotStatus.Free,
        'card--occupied': spot.status === SpotStatus.Occupied,
        'card--unavailable': spot.status === SpotStatus.Unavailable
      }"
    >

      <h3>{{ spot.spotCode }}</h3>

      <p>
        <strong>Type:</strong>
        {{ getTypeLabel(spot.type) }}
      </p>

      <p>
        <strong>Status:</strong>
        <span
          class="badge"
          [ngClass]="{
            'badge--green': spot.status === SpotStatus.Free,
            'badge--red': spot.status === SpotStatus.Occupied,
            'badge--orange': spot.status === SpotStatus.Unavailable
          }"
        >
          {{ getStatusLabel(spot.status) }}
        </span>
      </p>

      <button
        class="btn"
        *ngIf="spot.status !== SpotStatus.Occupied"
        (click)="toggleUnavailable(spot)"
      >
        {{ spot.status === SpotStatus.Unavailable ? 'Mark Free' : 'Mark Unavailable' }}
      </button>

    </div>
  </div>

</div>
