.spot-card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.free {
    border-left: 6px solid var(--green);
  }

  &.occupied {
    border-left: 6px solid var(--red);
  }

  &.unavailable {
    border-left: 6px solid var(--gray);
  }
}
