<div class="exitTicketContainer">
  <h1>EXIT TICKET</h1>

  <!-- SEARCH SECTION -->
  <div class="searchBox">
    <label>Plate Number</label>
    <input
      type="text"
      [(ngModel)]="searchPlate"
      placeholder="AA452ZB"
    />

    <label>Ticket ID (optional)</label>
    <input
      type="text"
      [(ngModel)]="searchTicketId"
      placeholder="0000-0000..."
    />

    <button
      (click)="searchTicket()"
      [disabled]="loading || (!searchPlate && !searchTicketId)"
    >
      Search
    </button>

    <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
    <p class="success" *ngIf="successMsg">{{ successMsg }}</p>
  </div>

  <!-- TICKET FOUND -->
  <div class="ticketResult" *ngIf="foundTicket">
    <h3>Ticket Found</h3>

    <p><strong>Plate:</strong> {{ foundTicket.vehicle.plate }}</p>
    <p><strong>Spot:</strong> {{ foundTicket.spotCode }}</p>
    <p>
      <strong>Entry Time:</strong>
      {{ foundTicket.entryTime | date:'HH:mm dd/MM/yyyy' }}
    </p>

    <button
      (click)="previewExit()"
      [disabled]="loading || !foundTicket"
    >
      Preview Exit Fee
    </button>
  </div>

  <!-- PREVIEW RESULT -->
  <div class="previewBox" *ngIf="preview">
    <h3>Exit Preview</h3>

    <p><strong>Duration:</strong> {{ preview.durationMinutes }} minutes</p>
    <p><strong>Billing Periods:</strong> {{ preview.billingPeriods }}</p>
    <p><strong>Fee (to pay):</strong> {{ preview.appliedFee }} EUR</p>

    <label>Payment Method:</label>
    <select [(ngModel)]="paymentMethod">
      <option [ngValue]="0">Cash</option>
      <option [ngValue]="1">Card</option>
      <option [ngValue]="2">Other</option>
    </select>

    <label class="lostTicket">
      <input
        type="checkbox"
        [(ngModel)]="isLostTicket"
        [disabled] = "!foundTicket"
        (change)="previewExit()"
      />
      Lost Ticket
    </label>

    <button
      (click)="closeTicket()"
      [disabled]="loading || !preview"
      class="confirmButton"
    >
      Close & Pay
    </button>

  </div>
</div>
