<div class="exitTicketContainer">
  <h1>EXIT TICKET</h1>

  <!-- SEARCH SECTION -->
  <div class="searchBox">
    <label>Plate Number</label>
    <input type="text" [(ngModel)]="searchPlate" placeholder="AA452ZB" />

    <label>Ticket ID (optional)</label>
    <input type="text" [(ngModel)]="searchTicketId" placeholder="0000-0000..." />

    <button [disabled]="loading">Search</button>

    <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
  </div>

  <!-- TICKET FOUND -->
  <div class="ticketResult" *ngIf="foundTicket">
    <h3>Ticket Found</h3>

    <p><strong>Plate:</strong> {{ foundTicket.vehicle.plate }}</p>
    <p><strong>Spot:</strong> {{ foundTicket.spotCode }}</p>
    <p><strong>Entry Time:</strong> {{ foundTicket.entryTime | date:'HH:mm dd/MM/yyyy' }}</p>

    <button  [disabled]="loading">Preview Exit Fee</button>
  </div>

  <!-- PREVIEW RESULT -->
  <div class="previewBox" *ngIf="preview">
    <h3>Exit Preview</h3>

    <p><strong>Duration:</strong> {{ preview.durationMinutes }} minutes</p>
    <p><strong>Billing Periods:</strong> {{ preview.billingPeriods }}</p>
    <p><strong>Fee:</strong> {{ preview.appliedFee }} EUR</p>

    <label>Payment Method:</label>
    <select [(ngModel)]="paymentMethod">
      <option value="0">Cash</option>
      <option value="1">Card</option>
      <option value="2">Other</option>
    </select>

    <label>
      <input type="checkbox" [(ngModel)]="isLostTicket" />
      Lost Ticket
    </label>

    <button  [disabled]="loading" class="confirmButton">
      Close & Pay
    </button>
  </div>
</div>
