<div class="dashboard-container">
    <div class="dashboardTitleContainer">
        <h1>PARKING MANAGEMENT DASHBOARD</h1>
    </div>

    <div class="info">
      <h4 class="greeting"><mat-icon>{{ icon }}</mat-icon> {{ greeting }}</h4>
      <h4 class="dateTime">Today: {{ today | date: 'MMMM d, y' }}</h4>
    </div>
    <div class="mainTabs">

      <!--TOTAL SPOTS KPI-->
      <div
        class="totalSpots card"
        *ngIf="!loadingMetrics && metrics.length > 0; else loadingLot"
        [routerLink]="['/dashboard/spots', metrics[0]?.lotId]"
      >
        <h4>Total Spots</h4>
        <p id="totalSpotsNumber">{{ metrics[0]?.totalSpots }}</p>
      </div>
      <ng-template #loadingLot>
        <div class="totalSpots card disabled">
          <h4>Total Spots</h4>
          <p>Loading...</p>
        </div>
      </ng-template>

      <!--FREE SPOTS KPI-->
      <div class="freeSpots card"
        [routerLink]="['/dashboard/spots', metrics[0]?.lotId]"
      >
        <h4>Free Spots</h4>
        <p id="freeSpotsNumber">{{ metrics[0]?.freeSpots}}</p>
      </div>

      <!--OPEN TICKET KPI-->
      <div class="openTickets card" routerLink="ticket">
        <h4>Open Tickets</h4>
        <p id="openTickets"> {{metrics[0]?.openTickets}} </p>
      </div>

      <!--REVENUE KPI-->
      <div class="revenue card" routerLink="financial-report">
        <h4>Revenue Today</h4>
        <p id="revenueToday">{{metrics[0]?.revenueToday}}</p>
      </div>

      <!--UNAVAILABLE SPOTS KPI-->
      <div class="unavailableSpots card"
        [routerLink]="['/dashboard/spots', metrics[0]?.lotId]"
      >
        <h4>Unavailable Spots</h4>
        <p id="unavailableSpotsNumber">{{metrics[0]?.unavailableSpots}}</p>
      </div>

      <!--UNAVAILABLE SPOTS KPI-->
      <div class="occupiedSpots card"
        [routerLink]="['/dashboard/spots', metrics[0]?.lotId]"
      >
        <h4>Occupied Spots</h4>
        <p id="occupiedSpotsNumber">{{metrics[0]?.occupiedSpots}}</p>
      </div>

    </div>

    <!--Parking Grid Display-->
    <div class="parking-grid">
      <h4>Parking Spots Overview:</h4>
      <div class="spots-grid">

        <div class="spot" *ngFor="let spot of spotsInfo">
          <span
            class="spotStatus"
            [style.backgroundColor]="getSpotColor(spot)"
          ></span>
          <p class="spotCode">{{ spot.spotCode }}</p>
        </div>

        <!--Parking Spots Legend-->
      </div>
      <div class="spotStatusLegend">
        <div class="legend">
          <span id="spotStatusLegendColorFree"></span>
          <p class="spotStatusDescription">Free</p>
        </div>
        <div class="legend">
          <span id="spotStatusLegendColorOccupied"></span>
          <p class="spotStatusDescription">Occupied</p>
        </div>
        <div class="legend">
          <span id="spotStatusLegendColorUnavailable"></span>
          <p class="spotStatusDescription">Unavailable</p>
        </div>
      </div>
    </div>
</div>
