.tariffContainer {
    h1 {
        text-align: center;
    }
}

.tariffsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 515px;
}

.tariffHodler {
    background-color: #616161;
    border-radius: 0.5em;
    cursor: pointer;
    color: white;
}

/* ticket symbol style */
.parkingSymbol {
    display: flex;
    justify-content: center;
    padding: 12px 0;

    .symbolBox {
        position: relative;
        min-width: 70px;
        min-height: 70px;
        display: block;
    }

    /* base styles used by both rectangles */
    .symbolBox .rectangle {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        transform: translate(-50%, -50%) rotate(45deg); /* center + rotate */
        display: block;
        box-sizing: border-box;
    }

    /* bottom (blue) rectangle */
    .symbolBox .first {
        width: 60px;
        height: 60px;
        background-color: #16b2d4;
        z-index: 1;
    }

    /* top (white border) rectangle */
    .symbolBox .second {
        width: 55px;
        height: 55px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 8px;
        z-index: 2;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    #parkingSymbolText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        margin: 0;
        font-weight: 700;
        font-size: 32px;
        color: white;
        pointer-events: none;
    }
}

.tariffHeader {
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-top: 10px;

    h3 {
        margin: 15px 0;
        text-align: center;
    }
}

.tariffPricesHolder {
    border-bottom: 1px solid #FFF;
}

.hourlyInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
}

.tariffIssuesHolder {
    #info {
        text-align: center;
    }
}

.tariffIssueGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    p {
        margin: 0;
        padding: 0 15px;
        color: red;
    }
}