<div class="ticketListContainer">
    <h1>Ticket List</h1>

    <!-- LOADING -->
    <p *ngIf="loading">Loading tickets...</p>

    <p *ngIf="!loading && tickets.length === 0">
      No tickets found.
    </p>

    <!-- ERROR -->
    <p *ngIf="error">Failed to load tickets</p>

    <div class="filters">

      <!-- STATUS FILTER -->
      <label>Status</label>
      <select [(ngModel)]="statusFilter" (change)="loadFilteredTickets()">
        <option value="ALL">All</option>
        <option [value]="TicketStatus.Open">Open</option>
        <option [value]="TicketStatus.Closed">Closed</option>
        <option [value]="TicketStatus.Lost">Lost</option>
      </select>

      <!-- PLATE SEARCH -->
      <label>Plate</label>
      <input
        type="text"
        placeholder="Search by plate"
        [(ngModel)]="plateFilter"
        (input)="loadFilteredTickets()"
      />

    </div>

    <div class="ticketWrapper" *ngIf="!loading && !error">
      <div class="ticketListGrid">
          <div
            class="ticketElement"
            *ngFor="let ticket of pagedTickets">

            <!-- SYMBOL -->
            <div class="parkingSymbol">
              <div class="symbolBox">
                <span class="first rectangle"></span>
                <span class="second rectangle"></span>
                <p id="parkingSymbolText">P</p>
              </div>
            </div>

            <!-- HEADER -->
            <div class="parkingTicketHeader">
              <h3>PARKING TICKET</h3>
              <p>Central Parking Lot</p>
            </div>

            <!-- VEHICLE INFO -->
            <div class="ticketInfo">
              <div class="holder">
                <p>Car Plate:</p>
                <p>{{ ticket.vehicle.plate }}</p>
              </div>

              <div class="holder">
                <p>Car Type:</p>
                <p>{{ getVehicleTypeLabel(ticket.vehicle.type) }}</p>
              </div>

              <!--SPOT INFO-->
              <div class="holder">
                <p>Spot:</p>
                <p>{{ ticket.spotCode }}</p>
              </div>
            </div>

            <!-- TIME -->
            <div class="ticketDateData">
              <div class="date">
                <div class="entry time">
                  <p>FROM:</p>
                  <p>{{ ticket.entryTime | date:'HH:mm dd/MM/yyyy' }}</p>
                </div>
                <div
                  class="exit time"
                  *ngIf="ticket.status === TicketStatus.Closed">
                  <p>TO:</p>
                  <p>{{ ticket.exitTime | date:'HH:mm dd/MM/yyyy' }}</p>
                </div>

              </div>
            </div>

            <div class="ticketStatusHolder">
              <h3>{{ getStatusLabel(ticket.status) }}</h3>
            </div>

          </div>
      </div>

      <div class="pagination" *ngIf="totalPages > 1">
        <button
          (click)="prevPage()"
          [disabled]="currentPage === 1">
        ◀ Prev
        </button>

        <span>
          Page {{ currentPage }} / {{ totalPages }}
        </span>

        <button
          (click)="nextPage()"
          [disabled]="currentPage === totalPages">
          Next ▶
        </button>

      </div>

      <!-- ACTION BUTTONS -->
      <div class="actionButtons">
          <button id="entryButton" type="button" routerLink="entry-ticket">ENTRY TICKET</button>
          <button id="exitButton" type="button" routerLink="exit-ticket">EXIT TICKET</button>
      </div>
    </div>
</div>
