<div class="ticketListContainer">
    <h1>Ticket List</h1>

    <!-- LOADING -->
    <p *ngIf="loading">Loading tickets...</p>

    <!-- ERROR -->
    <p *ngIf="error">Failed to load tickets</p>

    <div class="ticketWrapper" *ngIf="!loading && !error">
      <div class="ticketListGrid">
          <div
            class="ticketElement"
            *ngFor="let ticket of tickets">

            <!-- SYMBOL -->
            <div class="parkingSymbol">
              <div class="symbolBox">
                <span class="first rectangle"></span>
                <span class="second rectangle"></span>
                <p id="parkingSymbolText">P</p>
              </div>
            </div>

            <!-- HEADER -->
            <div class="parkingTicketHeader">
              <h3>PARKING TICKET</h3>
              <p>Central Parking Lot</p>
            </div>

            <!-- VEHICLE INFO -->
            <div class="ticketInfo">
              <div class="holder">
                <p>Car Plate:</p>
                <p>{{ ticket.vehicle.plate }}</p>
              </div>

              <div class="holder">
                <p>Spot:</p>
                <p>{{ ticket.spotCode }}</p>
              </div>
            </div>

            <!-- TIME -->
            <div class="ticketDateData">
              <div class="date">
                <p>FROM:</p>
                <p>{{ ticket.entryTime | date:'HH:mm dd/MM/yyyy' }}</p>
              </div>
            </div>

            <!--TODO: Get spot status string not number-->

            <!-- STATUS -->
            <div class="ticketStatusHolder">
              <h3>{{ getStatusLabel(ticket.status) }}</h3>
            </div>

          </div>
      </div>

      <!-- ACTION BUTTONS -->
      <div class="actionButtons">
        <!--TODO: If needed change the routerLink-->
          <button id="entryButton" type="button" routerLink="entry-ticket">ENTRY TICKET</button>
          <button id="exitButton" type="button" routerLink="exit-ticket">EXIT TICKET</button>
      </div>
    </div>
</div>
